.left-side{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;

}
.li-1{
  height: 24px;
  margin-bottom: 5px;
}
.ldiv{
  height: 100px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.13s ;
  
  
}
.ldiv:hover{
  background-color: rgb(237, 232, 232);
}

.ldiv div{
  font-family: Roboto,arial;
  font-size: 10px;

}